@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 30%, #ffcc70 66%, #fff 100%);
}

.back {
  background-color: #ffcd7000;
}

.scoreText {
  @apply px-8 py-4 border-b-2 w-full border-black;
}
