@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 30%, #FFCC70 66%, #ffffff 100%);
}

.back {
  background-color: #FFCC70;
  background-image: linear-gradient(43deg, #FFCC70 53%, #C850C0 85%, #4158D0 99%);    
}

.scoreText {
  @apply px-8 py-4 border-b-2 w-full border-black
}